recursive-include src/PythonMusic/bin *
recursive-include src/pem *
recursive-include src/PythonMusic/resources *
recursive-include src/PythonMusic/examples *
recursive-exclude */.DS_Store
recursive-exclude */__pycache__/*